.sendingContent {
  width: 90%;
  color: white !important;
  margin: 1%;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  .content {
    background: #7679ee !important;
    border-radius: 5px;
    padding: 1% 1% 0% 1%;
    width: fit-content;
    max-width: 50%;
    text-align: right;
    float: right;
    .grid_container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px; /* Khoảng cách giữa các ô */
    }
    .grid_container.more2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .grid_item {
      width: 100%; /* Chiều rộng của mỗi ô là 100% của ô cha (grid-container) */
      aspect-ratio: 1; /* Bảo đảm tỉ lệ khung hình là 1:1 */
      overflow: hidden; /* Đảm bảo hình ảnh không vượt ra khỏi ô */
      img {
        width: 100%; /* Chiều rộng của hình ảnh là 100% của ô con (grid-item) */
        height: 100%; /* Chiều cao của hình ảnh là 100% của ô con (grid-item) */
        object-fit: cover; /* Bảo đảm hình ảnh không bị méo khi thay đổi kích thước */
      }
    }
    .time {
      text-align: left;
      font-size: 13px;
    }
    .file {
      display: flex;
      justify-content: center;
      align-items: center;
      :nth-child(2) {
        font-size: 5rem;
        margin-left: 3%;
      }
      .linkFile {
        color: white !important;
      }
      video{
        width: 100%;
      }
    }
    @media screen and (max-width: 1200px) {
      .file {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        :nth-child(2) {
          font-size: 5rem;
          margin-left: 3%;
        }
        .linkFile {
          color: white !important;
          word-break: break-all;
        }
        
      }
    }
  }
}
