.sendingContent {
  width: 90%;
  color: white !important;
  margin: 1%;
  float: right;
  .content {
    background: #7679ee !important;
    border-radius: 5px;
    padding: 1% 1% 0% 1%;
    width: fit-content;
    max-width: 50%;
    text-align: right;
    float: right;
    .imgSend{
      width: 100%;
    }
    .time {
      text-align: left;
      font-size: 13px;
    }
    .file{
      display: flex;
      justify-content: center;
      align-items:center;
      :nth-child(2){
        font-size: 5rem;
        margin-left: 3%;
      }
      .linkFile{
        color: white !important;
      }
    }
    @media screen and (max-width: 1200px) {
      .file{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items:center;
        :nth-child(2){
          font-size: 5rem;
          margin-left: 3%;
        }
        .linkFile{
          color: white !important;
          word-break: break-all;
        }
      }
    }
  }
}
