.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 0.5rem;
    font-size: 15px;
    cursor: pointer;
  }
  span:hover,
  span.active {
    background: #464646;
    border-radius: 5px;
  }
}
