.cardUser{
    padding: 1%;
    display: flex;
    .cardUserImg{
        width: 80px;
        background: #d1d4e3;
        border-radius: 5px;
        margin-right: 1%;
    }
    .cardUserInf{
        :nth-child(1){
            font-weight: bold;
        }
        :nth-child(2){
            color: #cbcbcb;
        }
    }
}