.cardChat{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0% 3%;
    border: none;
    background: #F9FAFC;
    .cardImage{
        width: 25%;
        height: 70%;
        background-color: #d1d4e3;
    }
    .online{
        background-color: rgb(9, 207, 68);
        height: 15px;
        width: 15px;
        border-radius: 10px;
        position: absolute;
        bottom: 12%;
        left: 24%;
    }
    .cardBody{
        width: 75%;
        padding: 35px 18px 18px 18px;
        .cardTitle{
            display: flex;
            justify-content: space-between;
            span{
                color: #B6B5B5;
                font-size: 13px;
            }
            
        }
        .cardText{
            display: flex;
            justify-content: space-between;
            :nth-child(1){
                font-size: 15px;
            }
            :nth-child(2){
            width: 20px;
            height: 20px;
            background: #FF7A55;
            text-align: center;
            border-radius: 20px;
            color: white;
            font-size: 13px;
            }
            
        }
    }
}
.cardChat:hover{
    background: #EEEEF8;
    cursor: pointer;
}
.cardChat.action{
    background: #EEEEF8;
}