.receivingContent {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 1%;
  padding: 0.5%;
  .name{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #7678ed;
    margin-right: 0.5rem;
  }
  .contentImg {
    width: 2rem;
    height: 2rem;
    background: #d1d4e3;
    border-radius: 5px;
    margin-right: 1%;
  }
  .content {
    background: #eeeef8;
    padding: 1% 1% 0% 1%;
    border-radius: 5px;
    max-width: 50%;
    :nth-child(2) {
      font-size: 13px;
      float: right;
    }
  }
}
