.friends {
  width: 100%;
  height: 100%;
  .tabTop {
    height: 12%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 3%;
    span {
      width: 100%;
      :nth-child(1) {
        margin-right: 1%;
      }
    }
  }
  .tabTop::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }
  .search {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 10%;
    padding-top: 2%;
    .searchWrap {
      border: none !important;
      background: #dcdcff !important;
      width: 60%;
      height: 50px;
      border-radius: 5px;
      .searchIcon {
        background: none !important;
        border: none !important;
      }
      .searchInput {
        border: none !important;
        background: none !important;
      }
    }
    .selectWrap{
      width: 20%;
      height: 50px;
      background: #eeeef8;
    }
  }
  .list{
    height: 77%;
    overflow: auto;
    
  }
}
