.mainWrap{
    background: black !important;
    width: 100%;
    height: 100%;
    display: flex;
    .menuWrap{
        height: 100%;
        width: 5%;
        padding-top: 1%;
    }
    .chatWrap{
        background: #F9FAFC;
        border-radius: 1rem;
        height: 95%;
        width: 95%;
        margin: 1% 1% 1% 0%;
        display: flex;
        .tabMenu{
            width: 21%;
            height: 100%;
            border-right: 1px solid #EEEEF8;
            .listTab{
                height: 88%;
                overflow: auto;
            }
        }
        .screenMain{
            width: 79%;
        }
    }
}