.chatinfo {
  border-left: 1px solid #eeeef8;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10% 5% 10% 5%;
  position: relative;
  .Accordion {
    padding-top: 5%;
    .accordionBoby {
      max-height: 20rem;
      height: fit-content;
      overflow: auto;
      .addMembers {
        background: none;
        border: none;
        color: black;
        width: 100%;
        margin-bottom: 5%;
      }
      .addMembers:hover {
        background: #eeeef8;
      }
      .linkWrap {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Số dòng tối đa */
        -webkit-box-orient: vertical;
        margin-bottom: 5%;
        :nth-child(1) {
          margin-right: 10px;
        }
      }
      .grid_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; /* Khoảng cách giữa các ô */
      }
      .grid_container_video {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Khoảng cách giữa các ô */
      }

      .grid_item {
        width: 100%; /* Chiều rộng của mỗi ô là 100% của ô cha (grid-container) */
        aspect-ratio: 1; /* Bảo đảm tỉ lệ khung hình là 1:1 */
        overflow: hidden; /* Đảm bảo hình ảnh không vượt ra khỏi ô */
        img {
          width: 100%; /* Chiều rộng của hình ảnh là 100% của ô con (grid-item) */
          height: 100%; /* Chiều cao của hình ảnh là 100% của ô con (grid-item) */
          object-fit: cover; /* Bảo đảm hình ảnh không bị méo khi thay đổi kích thước */
        }
        video {
          width: 100%;
        }
      }
    }
    .cardF {
      padding: 1%;
      display: flex;
      align-items: center;
      cursor: pointer;
      .cardImgF {
        width: 20%;
        height: 20%;
        background: #d1d4e3;
        border-radius: 5px;
        margin: 0 2%;
      }
      p {
        font-weight: bold;
        font-size: 1rem;
      }
      .admin {
        color: gray;
        font-size: 0.7rem;
      }
    }
    .cardF:hover {
      background: #eeeef8;
    }
  }
  .leaveGroup {
    color: red;
    position: absolute;
    bottom: 5%;
    left: 5%;
    cursor: pointer;
  }
}
