.chat {
  width: 100%;
  height: 100%;
  .recipient {
    height: 12%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
  }
  .recipient::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }
  .chatFrame {
    height: 88%;
    width: 100%;
    .conversation{
        height: 88%;
    }
    .inputWrap {
        text-align: center;
        justify-content: center;
        display: flex;
      .InputGroup {
        width: 95%;
        height: 60px;
        background: #eeeef8 !important;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        .basicaddon1 {
          border: none !important;
          background: none !important;
        }
        input {
          border: none;
          background: none;
        }
      }
    }
  }
}
