.chat {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  .recipient {
    height: 12%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
  }
  .recipient::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }

  .chatFrame {
    height: 88%;
    width: 100%;
    position: relative;
    .notify{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1%;
      position: absolute;
      width: 100%;
      z-index: 100;
      box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.5);
      background-color: #f9fafc;
    }
    .conversation {
      height: 87%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      .notiAddMember {
        text-align: center;
        position: relative;
        font-size: 0.9rem;
        color: #DCDCFF;
        font-weight: bold;
      }
    }
    .inputWrap {
      text-align: center;
      justify-content: center;
      display: flex;
      box-shadow: 2px 2px 2px gray;
      background-color: #eeeef8;
      margin: 1%;
      border-radius: 1rem;
      .basicaddon1 {
        color: black !important;
        border: none !important;
        background: none !important;
        padding: 0.5%;
      }
      .react-input-emoji--wrapper {
        height: 50px !important;
        background: #eeeef8 !important;
      }
    }
    .blockWrap{
      background-color: #EEEEF8;
      height: 13%;
      border-bottom-right-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      :first-child{
        color: #7679ee;
      }
      span{
        color: #7679ee;
        cursor: pointer;
      }
    }
  }
}
