.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  font-size: 20px;
}

#buttonStyle1{
  background-color: #7679EE;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  width: 25%;
  padding: 0.3% 0%;
}
#buttonStyle1:hover{
  opacity: 0.7;
}
#inputText-01{
  width: 25%;
  height: 60px;
}
#inputText-01::placeholder{
  color: rgba(0, 0, 0, 0.35);
  font-weight: bold;
}
